p{
    box-shadow: 3px 3px 8px 10px  red;
    color: black;
    animation-duration: 4s;
    animation-name: slideIn;
}
p:hover{
    overflow: visible;
}
@keyframes slideIn {
    0%{
        translate: 150vw 0;
        scale: 200% 1;
    }
    100%{
        translate: 0 0;
        scale: 100% 1;
    }
}